* {
  font-family: helvetica;
}

.h2-primary {
  font-size: 2em;
  font-weight: bold;
  color: slate;
  margin-top: 1em;
  margin-bottom: 2em;
}

.textarea {
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 3em;
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #1a73e8;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
